#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.app-intro-container {
  position: relative;
}

.app-intro-container>div {
  position: absolute;
}

.content-container {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.75, 0.75);
  transition: all 0.5s ease-in-out;
}

.content-container>:nth-child(2) {
  flex: 1;
}

.content-container.is-display {
  opacity: 1;
  transform: scale(1, 1);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.transition-group {
  flex: 1;
  position: relative;
}

.router {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}